/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
*{
	margin:0;
	padding: 0;
}
.clearfix{
	clear: both;
}
html, body{
	font-family:  sans-serif;
	font-size:100%;
	background:#fff;
	height: 100%;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
body a:hover{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- Header Part Starts Here --*/
.header{
	padding: 1.5em 0;
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.banner{
	position: relative;
}

.logo{
	float: left;
	width: 30%;
	margin-top: 8px;
}
.navigation{
	width: 100%;
	text-align: center;
}


span.menu {
	display: none;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom:3%;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/top-arrow.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- responsive-design starts-here --*/


@media screen and (max-width: 1280px) {
	.logo {
		width: 24%;
	}
	
	div#breadcrumb_wrapper h3 {
		font-size: 1.8em;
		margin-bottom: 8px;
	}
	.banner h1 {
		font-size: 2.8em;
	}
	.header {
		padding: 1.1em 0;
	}
	.banner-info p {
		font-size: 1em;
		line-height: 1.6em;
		margin-top:5px;
	}
	.best {
		padding: 2.5em 0;
	}
	.heading {
		font-size: 1.6em;
		border-bottom: 2px solid #eee;
	}
	.service-section {
		padding: 4em 0;
	}
	div#testimonialWrapper{
		padding: 4em 0;
	}
	.services h3 {
		font-size: 2.6em;
	}
	.services {
		padding: 3em 0px 0em;
		min-height: 400px;
	}
	#breadcrumb_wrapper {
		padding: 45px 0;
	}
	.about-quote h5 {
		font-size: 2.35em;
	}
	.about-quote {
		min-height: 300px;
	}
	.abt-quote {
		min-height: 300px;
		padding-top: 4em;
		padding-left: 6em;
	}
	.map {
		margin: 3em 0;
	}
	.contact-form {
		margin: 3em 0;	
	}
	.address {
		margin-top: 3em;
	}
	.blog-grid h3 {
		font-size: 1.6em;
	}
}
@media screen and (max-width: 1024px) {
	.search-bar input[type="submit"] {
		top: 10px;
		left: 173px;
		background-size: 18px;
	}
	.search-bar input[type="text"] {
		padding: 7px 34px 7px 7px;
	}
	.logo {
		width: 19%;
		margin-right:4%;
	}
	.logo img {
		width:100%;
	}
	
	.banner h1 {
		font-size: 2.5em;
	}
	.banner-info p {
		font-size: 0.875em;
	}
	.banner-info {
		padding: 1em 0 1em 1.5em;
		width: 57%;
		margin-top: 12em;
	}
	figure.float-left {
		margin-right: 3%;
		width:45%;
	}
	figure.float-left img {
		width:100%;
	}
	.best p {
		font-size: 14.5px;
	}
	.one_third {
		width: 31%;
		margin-right: 3%;
		margin-bottom: 2em;
	}	
	.pricing_top {
		padding: 28px 0;
	}
	.dt-support {
		width: 61%;
	}
	.fullwidth-section {
		min-height: 260px;	
	}	
	.service-section {
		padding: 3em 0;
	}
	.service-section-head h3 {
		font-size: 2em;
	}
	.service-section-head p {
		font-size: 1.1em;
	}
	.service-section-grid h4 {
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}
	.icon {
		width: 17%;
		margin-right: 3%;
	}
	.icon-text {
		width: 80%;
	}	
	.services-grids {
		padding: 1em 2em;
		width: 46.8%;
		margin: 0 15px;
	}
	.services h3 {
		font-size: 2.4em;
	}
	.services {
		padding: 2.5em 0px 0em;
		min-height: 350px;
	}
	.services-bottom p {
		font-size: 1.7em;
	}	
	div#testimonialWrapper {
		padding: 3em 0;
	}
	footer p {
		font-size: 11.3px;
		margin-bottom: 1em;
	}
	footer ul.footerMenu, footer ul.footerAddress {
		margin-bottom: 5px;
	}
	div#testimonialWrapper h3 {
		font-size: 15px;
	}
	#breadcrumb_wrapper {
		padding: 40px 0;
	}
	div#breadcrumb_wrapper h3 {
		font-size: 1.75em;
		margin-bottom: 5px;
	}
	.abt-quote {
		min-height: 270px;
		padding-top: 3em;
		padding-left: 2em;
	}
	.about-quote h5 {
		font-size: 2.3em;
		margin-bottom: 35px;
	}
	.about-quote {
		min-height: 270px;
	}
	.float-right {
		margin: 0 0 0 0px;
		width: 45%;
	}
	.float-right img {
		width:100%;
	}
	.shared-hosting {
		padding: 2.5em 0;
	}
	.list-check li {
		padding-left: 25px;
		font-size: 0.875em;
		margin: 10px 0;
	}
	.PageHead h3 {
		margin-top: 5px;
		font-size: 1.3em;
	}
	.PageHead h1 {
		font-size:2em;
	}
	.ComparePlans .planHead2 h3, .ComparePlans .planHead3 h3 {
		padding-top: 8px;
		font-size: 1.3em;
	}
	.ComparePlans .planHead2 {
		height: 55px;
	}
	.ComparePlans .planHead3 {
		height: 55px;
	}	
	.header-c {
		font-size: 1.8em;
		margin: 0 0 0.6em 0;
	}
	.shared-hosting {
		padding: 2em 0;
	}
	.hd-content {
		padding: 4em 0 2em 0;
	}
	.ds_price {
		width: 12%;
	}	
	.ds_order {
		width: 18%;
	}
	.new-domains {
		margin-top: 3em;
	}
	.btn-lg {
		padding: 14px 40px;
	}
	.domain-section {
		padding: 2.5em 0 4em 0;
	}
	.domain {
		margin-top: 55px;
	}
	.PageHead {
		margin-top: 40px;
	}
	.one-fifth {
		width: 16%;
	}
	.domain_row {
		width: 49%;
	}	
	h4.domain-head {
		font-size: 1.8em;
		margin: 0 0 0.5em 0;
	}
	h4.domain-head1 {
		font-size: 1.7em;
		margin: 0 0 1.1em 0;
	}
	span.m_11 {
		font-size: 28px;
	}
	span.m_12 {
		font-size: 28px;
	}
	ul.charge {
		padding: 0.8em 0;
	}
	.about-left img {
		width: 100%;
	}
	.about-right h4 {
		margin-bottom: 8px;
		font-size: 1.1em;
	}
	p.m_8 {
		font-size: 0.9em;
		margin-bottom: 20px
	}
	.about {
		padding: 2em 0px 2em;
	}
	.about-main h3 {
		font-size: 2.1em;
		margin: 0 0 0.8em 0;
	}
	p.m_9 {
		padding: 2%;
	}
	.about_grid_top {
		padding: 3em 0;
	}
	.about-quote h5 {
		font-size: 2.1em;
	}
	.support {	
		text-align: center;
		  margin: 6% 0;
	}
	.support-grid p {
		font-size: 0.95em;
		line-height: 1.8em;
	}
	.faq-page-head h3 {
		font-size: 2em;
		margin: 0 0 0.5em 0;
	}
	.login-page {
		padding: 4em 0;
	}
	.register {
		padding: 3em 0;
	}
	.PlanPricing .price {
		font-size: 35px;
		width: 90px;
		height: 90px;
	}
	.single h2 {
		font-size: 2em;
	}
	.bolg-posts {
		padding: 4em 0;
	}
	.contact-form input[type="text"] {;
		width: 31.6%;
	}
	.map iframe {
		height: 300px;
	}
}
@media screen and (max-width: 768px) {
	span.menu {
	    display: block;
		cursor: pointer;
		float: none;
		margin: 3px auto 0em auto;
		width: 10%;
		background-color: #000;
		color: #fff;
		text-align: center;
		padding: 6px;
		font-size: 16px;
		font-weight: 500;
		position: relative;
	}
	
}	
@media screen and (max-width: 640px) {
	.search-bar input[type="submit"] {
		left: 130px;
	}
	.search-bar {
		width: 26%;
	}
	.logo {
		width: 28%;
	}
	.header {
		padding: 1em 0 0.6em 0;
	}
	.banner h1 {
		font-size: 1.6em;
	}
	.banner-info {
		padding: 0.5em 0 1em 1em;
		width: 90%;
		margin-top: 5em;
	}
	.best h2 {
		font-size: 1.5em;
	}
	.pricing_top p {
		font-size: 30px;
	}
	.pricing_bottom a {
		padding: 12px 0;
	}
	.heading {
		margin-bottom: 35px;
	}
	.pricing_top {
		padding: 20px 0;
	}
	.dt-support {
		width: 100%;
	}
	.fullwidth-section p {
		font-size: 0.75em;
	}
	.fullwidth-section {
		min-height: 195px;
	}
	.service-section-head h3 {
		font-size: 1.6em;
	}
	.service-grid {
		padding: 0;
	}
	.service-section-grid h4 {
		font-size: 1.15em;
		margin-bottom: 0.4em;
	}
	.service-section {
		padding: 2.5em 0;
	}
	.services-grids {
		padding: 1em 2em;
		width: 100%;
		margin: 0;
		margin-top: 1em;
	}
	.services h3 {
		font-size: 1.85em;
		margin-bottom: 12px;
	}
	.services {
		min-height: 450px;
		border-top: 3px solid#1BBC9B;
	}
	.services-bottom p {
		font-size: 1.2em;
	}
	.services-bottom {
		padding: 0.8em 0;
	}
	div#testimonialWrapper h3 {
		font-size: 13px;
		margin-top: 10px;
		line-height: 27px;
	}
	footer ul.footerMenu li.title, footer .title, footer ul.footerAddress li.title {
		margin-bottom: 5px;
		margin-top:5px;
	}	
	
	div#breadcrumb_wrapper h3 {
		font-size: 1.65em;
		margin-bottom: 3px;
	}
	#breadcrumb_wrapper {
		padding: 35px 0;
	}
	.shared-hosting p {
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 23px;
	}
	.list-check li {
		font-size: 0.8em;
	}
	.about-quote h5 {
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	.abt-quote {
		min-height: 190px;
	}
	.about-quote {
		min-height: 190px;
	}
	.shared-hosting {
		padding: 1.5em 0;
	}
	.one_third {
		width: 100%;
		margin-right: 0;
	}
	.ds_processor,.ds_ram,.ds_cores,.ds_diskspace,.ds_bandwidth,.ds_price {
		font-size: 12px;
	}
	.button {
		
		font-size: 14px;
	}
	.ds .button {
		padding: 2px 14px 2px 6px;
		margin-top: 0;
	}
	.button:hover {
		font-size: 14px;
	}
	.hd-content {
		padding: 3em 0 1em 0;
	}
	h4.domain-head {
		font-size: 1.6em;
		margin: 0 0 0em 0;
	}
	h4.domain-head1 {
		font-size: 1.5em;
		margin: 0 0 1em 0;
	}	
	.domain_row {
		width: 37%;
	}	
	.one-fifth input[type="submit"] {
		padding: 13px 30px;
	}
	.one-fifth {
		width: 20%;
	}
	.about-right h4 {
		font-size: 1em;
	}
	.about-main h3 {
		font-size: 2em;
		margin: 0 0 0.6em 0;
	}
	.our-head h3 {
		font-size: 2em;
		margin: 0 0 0.6em 0;
	}
	.support-grid p {
		font-size: 0.9em;
	}
	.faq-page {
		padding: 2em 0;
	}
	.PlanPricing {
		float: left;
		margin:80px auto 0;
	}
	.blog-top {
		width: 100%;
		margin: 0 0% 0% 0;
	}
	ul.start li a, ul.start li span{
		padding:0.5em 0.9em;
	}
	p.men-it {
		padding: 0.9em 0;
	}
	.single h2 {
		font-size: 1.5em;
	}
	.bolg-posts {
		padding: 2em 0 2em 0;
	}
	.leave {
		padding: 2em 0 0em;
	}
	.contact-form input[type="text"] {
		width: 30.1%;
	}
}
@media screen and (max-width: 480px) {
	span.menu {
		width: 17%;
		padding: 4px;
		font-size: 14px;
	}
	
}
@media screen and (max-width: 320px) {
	span.menu {
		width: 100%;
		padding:5px;
		margin: 50px auto 0em auto;
	}
	
}

/* my CSS */

.carousel-inner{
	position: relative;
	width: 100%;
	height: 100%;
}
.carousel-caption{
	position: absolute;
	top:40%;
	left: 15%;
	bottom: 0;
	text-align:left;
}
.carousel-caption h2{
	font-weight: 400;
	font-size: 50px;
}
.carousel-caption a{
	margin-top:10%;
	display: inline-block;
	padding: 50px 30px;
}


.overlay1{
	width: 100%;
	background: #000;
	opacity:.5;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.caption-item{
	position: relative
}
hr{
	background-color: #fff;
	opacity: .4;
}
.s1{
	width: 100%;
	height: auto;
	margin-right: 20px!important;
	background: #7BB82A;
	border-radius: 10px;
	transition: all 0.5s;
	padding: 10px;
	margin: auto;
}
.best-services{
	text-align: center;
}
.best-services h2{
	color:#BBBBBB;
	text-transform: uppercase;
}
.best-services .text{
	margin: 50px 0;
}
.s1:hover{
	background: #fff;
	box-shadow: 0px 0px 50px #7BB82A;
}
.s2:hover{
	background: #fff;
	box-shadow: 0px 0px 50px #7BB82A;
}
.s3:hover{
	background: #fff;
	box-shadow: 0px 0px 50px #7BB82A;
}
.best-services .img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #ddd;
	margin: 10px auto;
	border: 1px solid #7BB82A;
}
.best-services h6{
	color:#7BB82A;
}
.best-services .img img{
	width: 100%;
	height: 100%;
}
.best-services hr{
	opacity: 1;
	width: 40%;
	margin:auto;
}
.stext{
	color: #fff;
}
.stext h4{
	font-size: 20px;
	text-transform: uppercase;
}
.stext p{
	font-size: 15px;
}
.stext a{
	color: #ddd;
}
.s1:hover h4{
	color: #7BB82A;
}
.s1:hover p{
	color: #B9B9B9;
}
.s1:hover a{
	color: #7BB82A;
}
.stext hr{
	width: 100%;
}

.box2 {
	width: 100%;
	background-image: url(../images/advice.jpg);
	background-attachment: fixed;
	color: #fff;
}

.box2 h4 {
	color: #fff;
	font-size: 25px;
}
.box2 a{
	color: #fff;
	padding: 10px 30px;
	display: inline-block;
}

.call-back h2,label{
	color: #989898;
}
.call-back label{
	font-weight: normal;
}
.call-back h3{
	color:#B9B9B9;
}
.call-back h3>span{
	color: #7BB82A;
}
.call-back p{
	color: #7BB82A;
}
.line{
	width: 2px;
	height: 100px;
	background: red;
	display: block;
}
.footer a{
	color: #7BB82A;
}
.footer ul li a{
	color: #fff;
	font-size: 13px;
}
.footer ul li a:hover{
	color: #7BB82A;

}
.footer p{
	margin-top:;
	text-align: center;
	font-size:12px;
	color: #B9B9B9;
}
@media screen and (max-width: 768px){
	
	.carousel-inner{
		min-height: 100%;
	}
	.carousel-caption{
		position: absolute;
		top:30%;
		left: 15%;
		bottom: 0;
		text-align:left;
	}
	.carousel-caption h2{
		font-weight: 100;
		font-size: 20px;
	}
	.carousel-caption a{
		margin-top:10%;
		display: inline-block;
		padding: 10px;
	}


	.overlay1{
		width: 100%;
		background: #000;
		opacity:.5;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.caption-item{
		position: relative
	}
}
@media screen and (max-width: 576px){
	.box2 h4 {
		font-size: 15px;
	}
	.call-back p{
	font-size: 15px
	}
}

/*about page------*/

 